body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
a {
    color: white;
}

h1 {
    font-weight: 200;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cabecalho .title {
    max-width: 200px;
    line-height: 30px;
}

.cabecalho ul li {
    display: inline-block;
    margin: 20px;
}

.cabecalho ul li a:hover{
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#inscreva-btn {
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 20px;
}

#inscreva-btn:hover {
    background-color: rgb(132, 14, 201);
    color: white;
}



.principal{
    display: flex;
    flex: row;
    margin-top: 50px;
}

.principal h2 {
    font-size: 56px;
    max-width: 600px;
    line-height: 60px;
    font-family: poppinsmedium;
}

.principal h2 span {
    color: rgb(132, 14, 201);
}

.principal p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

.principal img {
    width: 580px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    font-size: 15px;
}

form [type= "submit"] {
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}

form [type= "submit"]:hover {
    cursor:pointer
}